header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.intestation{
    display: flex;
}

.intestation .logo{
    width: 85%;
    padding: 1.5rem;
}

.intestation .logo img{
    height: 1.5rem;
}

.intestation .logo span{
    font-size: 1.3rem;
    color: rgb(95, 93, 93);
}

.intestation .account{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.intestation .account i{
    font-size: 1.3rem;
}

.intestation .account .account-img{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

.intestation .account .account-img img{
    border-radius: 50%;
    width: 100%;
}

header nav{
    width: 100%;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    margin-right: 2rem ;
    font-size: .9rem;
    color: gray;
}

.ms_container{
    padding: 14rem 13rem 2rem 13rem;
}

main{
    overflow: auto;
}

main h1{
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

main p{
    font-size: 0.9rem;
}

main a{
    text-decoration: none;
}