
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.intestation{
    display: flex;
}

.intestation .logo{
    width: 85%;
    padding: 1.2rem 0 1rem 1.2rem;
}

.intestation .logo img{
    height: 1.5rem;
}

.intestation .logo span{
    font-size: 1.3rem;
    color: rgb(95, 93, 93);
}

.intestation .account{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.intestation .account i{
    font-size: 1.3rem;
}

.intestation .account .account-img{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

.intestation .account .account-img img{
    border-radius: 50%;
    width: 100%;
}

header nav{
    width: 100%;
}

header nav ul{
    list-style: none;
    padding-left: 1.2rem;
    margin-bottom: .5rem;
}

header nav ul li{
    display: inline-block;
    margin-right: 2.5rem ;
    font-size: .9rem;
    color: gray;
    cursor: pointer;
    position: relative;
}

header nav ul li:last-child{
    color: #3367D6;
}

header nav ul li:last-child::after{
    content: '';
    position: absolute;
    bottom: -0.65rem;
    left: 0;
    height: .2rem;
    width: 100%;
    background-color: #3367D6;
}

header hr{
    margin: 0;
}

.my_container{
    padding: 12rem 14rem 2rem 14rem;
}

main{
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}

main h1{
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

main p{
    font-size: 0.8rem;
    line-height: 1.5rem;
}

main a{
    text-decoration: none;
}

main .paragraf{
    padding-bottom: 4rem;
}

footer{
    background-color: #F5F5F5;
}

footer .ms_container{
    padding: 1rem 12rem;
}

footer ul{
    list-style: none;
    margin-bottom: 0;
}

footer ul li{
    display: inline-block;
    margin-right: 1.5rem ;
    font-size: .7rem;
    color: rgb(79, 79, 79);
    cursor: pointer;
    opacity: .7;
}